<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <category
     	   name="FIMET Views"
           id="com.fimet.cfg.views">
      </category>
      <category
     	   name="FIMET cfg Views"
           id="com.fimet.cfg.views">
      </category>
	  <view
			allowMultiple="false"
	  		category="com.fimet.cfg.views"
	  		icon="icons/types.png"
	        name="Message Iso"
	        class="com.fimet.cfg.view.messageiso.MessageIsoView"
	        id="com.fimet.view.MessageIsoView">
	  </view>
	  <view
			allowMultiple="false"
	  		category="com.fimet.cfg.views"
	  		icon="icons/types.png"
	        name="Rawcom Analyzer"
	        class="com.fimet.cfg.transaction.view.RawcomAnalyzerView"
	        id="com.fimet.view.RawcomAnalyzerView">
	  </view>
	  <view
		  	allowMultiple="false"
	      	category="com.fimet.cfg.views"
	  		icon="icons/brkp_grp.png"
	        name="Switch Simulator"
	        class="com.fimet.cfg.eglobal.SwitchView"
	        id="com.fimet.view.SwitchView">
	  </view>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
		  <command
	            defaultHandler="com.fimet.cfg.commands.messageiso.MessageIsoSearchCmd"
	            id="com.fimet.commands.MessageIsoSearchCmd"
	            name="Search Messages ISO">
	      </command>
		  <command
	            defaultHandler="com.fimet.cfg.commands.messageiso.MessageIsoSelectTwoCmd"
	            id="com.fimet.commands.MessageIsoSelectTwoCmd"
	            name="Select two Messages ISO">
	      </command>
		  <command
	            defaultHandler="com.fimet.cfg.commands.messageiso.MessageIsoSelectFourCmd"
	            id="com.fimet.commands.MessageIsoSelectFourCmd"
	            name="Select four Messages ISO">
	      </command>
		  <command
	            defaultHandler="com.fimet.cfg.commands.messageiso.MessageIsoSaveCmd"
	            id="com.fimet.commands.MessageIsoSaveCmd"
	            name="Save four Messages ISO">
	      </command>
	      <command
	            defaultHandler="com.fimet.cfg.commands.messageiso.MessageIsoClipboardCmd"
	            id="com.fimet.commands.MessageIsoClipboardCmd"
	            name="Copy Messages ISO">
	      </command>
	      <command
            defaultHandler="com.fimet.cfg.commands.messageiso.MessageIsoOpenViewCmd"
            id="com.fimet.commands.SaveMessageIsoCmd"
            name="Save Message Iso">
      	  </command>
      </extension>
      <extension
          point="org.eclipse.ui.contexts">
	       <context
	             id="com.fimet.context.MessageIsoTableView"
	             name="MessageIsoTableView"
	             parentId="org.eclipse.ui.contexts.window">
	       </context>
	       <context
	             id="com.fimet.context.MessageIsoView"
	             name="ContextMessageIsoView"
	             parentId="org.eclipse.ui.contexts.window">
	       </context>
	  </extension>
      <extension
          point="org.eclipse.ui.bindings">
	       <key
	             commandId="com.fimet.commands.SaveMessageIsoCmd"
	             contextId="org.eclipse.ui.contexts.window"
	             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	             sequence="M3+M2+C G">
	       </key>
			<key
	             commandId="com.fimet.commands.MessageIsoSelectTwoCmd"
	             contextId="com.fimet.context.MessageIsoView"
	             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	             sequence="M3+2">
	       </key>
	       <key
	             commandId="com.fimet.commands.MessageIsoSelectFourCmd"
	             contextId="com.fimet.context.MessageIsoView"
	             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	             sequence="M3+4">
	       </key>
	       <key
	             commandId="com.fimet.commands.MessageIsoSearchCmd"
	             contextId="com.fimet.context.MessageIsoView"
	             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	             sequence="M3+S">
	       </key>
	       <key
	             commandId="com.fimet.commands.MessageIsoSaveCmd"
	             contextId="com.fimet.context.MessageIsoView"
	             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	             sequence="M1+S">
	       </key>
	       <key
	             commandId="com.fimet.commands.MessageIsoClipboardCmd"
	             contextId="com.fimet.context.MessageIsoTableView"
	             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	             sequence="M1+C">
	       </key>
	  </extension>
</plugin>
