<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.fimet.database.creator" name="SQLite Data Base Creator" schema="schema/com.fimet.database.creator.exsd"/>

   <extension
       point="com.fimet.manager">
       <manager
			extension="com.fimet.persistence.sqlite.ISQLiteManager"
			class="com.fimet.persistence.sqlite.SQLiteManager" />
   </extension>
</plugin>
