<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.startup">
      <startup class="com.fimet.simulator.startup.SimulatorStartup"></startup>
   </extension>
   <extension
       point="com.fimet.manager">
       <manager
			extension="com.fimet.core.ISimulatorManager"
			class="com.fimet.simulator.SimulatorManager" />
       <manager
			extension="com.fimet.core.ISimulatorFieldManager"
			class="com.fimet.simulator.field.SimulatorFieldManager" />
   </extension>
</plugin>
