<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
       point="com.fimet.manager">
       <manager
			extension="com.fimet.core.net.IFtpManager"
			class="com.fimet.net.ftp.FtpManager" />
       <manager
			extension="com.fimet.core.net.IMessengerManager"
			class="com.fimet.net.MessengerManager" />
   </extension>
</plugin>
