<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.fimet.manager" name="Manager Extension" schema="schema/com.fimet.manager.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.fimet.core.startup.FimetStartup">
      </startup>
   </extension>
      <extension
         point="com.fimet.manager">
	    <manager
			name="FieldValidatorManager"
			extension="com.fimet.core.ISO8583.field.validator.IFieldValidatorManager"
			class="com.fimet.core.ISO8583.field.validator.FieldValidatorManager" />
		<manager
			name="ClassLoaderManager"
			extension="com.fimet.core.IClassLoaderManager"
			class="com.fimet.core.ClassLoaderManager" />
		<manager
			name="ValidatorManager"
			extension="com.fimet.core.IValidatorManager"
			class="com.fimet.core.usecase.ValidatorManager" />
		<manager
			name="UseCaseExecutorManager"
			extension="com.fimet.core.IUseCaseExecutorManager"
			class="com.fimet.core.usecase.UseCaseExecutorManager" />
		<manager
			name="AdapterManager"
			extension="com.fimet.core.ISO8583.adapter.IAdapterManager"
			class="com.fimet.core.ISO8583.adapter.AdapterManager" />
	</extension>
</plugin>
