<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="com.fimet.stress"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="stress"
            name="Stress Source"
            priority="high"/>
   </extension>
   <extension point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.fimet.editor.stress.DocumentSetup"
            contentTypeId="com.fimet.stress"
            extensions="stress">
      </participant>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="com.fimet.editor.stress.StressEditor"
            contributorClass="com.fimet.editor.stress.StressEditorContributor"
            default="true"
            extensions="stress"
            icon="icons/types.png"
            id="com.fimet.editor.StressEditor"
            name="Stress Editor"
            symbolicFontName="com.fimet.uc.fonts.textfont">
         <contentTypeBinding contentTypeId="com.fimet.stress"></contentTypeBinding>
      </editor>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.fimet.editor.stress.command.StressEditorPageGUIUndoCmd"
            id="com.fimet.commands.StressEditorPageGUIUndoCmd"
            name="Undo Use case Editor GUI">
      </command>
      <command
            defaultHandler="com.fimet.editor.stress.command.VariateParametersCmd"
            id="com.fimet.commands.VariateParametersCmd"
            name="Variate Parameters">
      </command>
   </extension>
   <extension point="org.eclipse.ui.bindings">
        <key
              commandId="com.fimet.commands.StressEditorPageGUIUndoCmd"
              contextId="com.fimet.context.stressEditorPageGui"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+Z">
        </key>
        <key
              commandId="com.fimet.commands.VariateParametersCmd"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+S V">
        </key>
    </extension>
    <extension point="org.eclipse.ui.contexts">
        <context
            name="Stress editor"
            parentId="org.eclipse.ui.textEditorScope"
            id="com.fimet.context.stressEditorScope">
        </context>
        <context
            id="com.fimet.context.stressEditorPageGui"
            name="Context Stress GUI"
            parentId="org.eclipse.ui.contexts.window">
        </context>
    </extension>
   <extension point="org.eclipse.ui.views">
      <view
			allowMultiple="false"
      		category="com.fimet.views"
      		icon="icons/conflict.png"
            name="Stress Variation of Parameters"
            class="com.fimet.editor.stress.view.vary.FiledsVariationView"
            id="com.fimet.view.VariationParametersView">
      </view>
   </extension>
</plugin>
